%script{:type => 'text/javascript'}
  $(function() {
  -data_array = []
  -previous_date = 0
  -previous_calories = 0
  -summed_calories = 0
  -current_user.trackers.sort_by {|obj| obj.consumed_on}.each do |t|
    -if t.date_and_calories[0] == previous_date
      -summed_calories = previous_calories + t.date_and_calories[1]
      -date_and_summed_calories = [previous_date, summed_calories]
      -data_array << date_and_summed_calories
    -else
      -data_array << t.date_and_calories
    -previous_date = t.date_and_calories[0]
    -previous_calories = t.date_and_calories[1]
  var data = #{data_array};
  $.plot($("#placeholder"), [data], { xaxis: { mode: "time" } });
  });
%h1 Simple Calorie Tracker
.well
  - if signed_in?
    .data-table
      %h3 Calorie counter
      Welcome #{current_user.email}!
      = form_for(@tracker) do |f|
        = f.text_field :calories, placeholder: "Calories", :required => true
        = f.text_field :consumed_on, :value => Date.today, :required => true
        = f.submit "Submit"
      #placeholder
      %table.table.table-condensed
        %tr
          %th ID
          %th Date
          %th Calories
        -current_user.trackers.sort_by {|obj| obj.consumed_on}.each do |t|
          %tr
            %td=t.id
            %td=t.consumed_on.strftime("%m/%d/%Y")
            %td=t.calories
  - else
    %p A super simple way to track what comes in.
