%h1 Simple Calorie Tracker
.well
  - if signed_in?
    %div
      %h3 Calorie counter
      Welcome #{current_user.email}!
      = form_for(@tracker) do |f|
        = f.text_field :calories, placeholder: "Calories", :required => true
        = f.text_field :consumed_on, :value => Date.today, :required => true
        = f.submit "Submit"
      %table.table.table-condensed
        %tr
          %th ID
          %th Date
          %th Calories
        -current_user.trackers.each do |t|
          %tr
            %td=t.id
            %td=t.consumed_on.strftime("%m/%d/%Y")
            %td=t.calories
  - else
    %p A super simple way to track what comes in.
