<!DOCTYPE html>
<html>
<head>
<title><%= full_title(yield(:title)) %></title>
<%= stylesheet_link_tag    "application", :media => "all" %>
<%= javascript_include_tag "application" %>
<%= csrf_meta_tags %>
<%= favicon_link_tag 'favicon.ico' %>
</head>
<body>

<%= render 'layouts/header' %>

<%= yield %>

<% if flash[:success] %>
  <div id="success"><%= flash[:success] %></div>
<% end %>

<%= debug(params) if Rails.env.development? %>

</body>
</html>
